@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<h5>
    PowerMigrate is a company with rich background that helps IT products owners migrate their business
    solutions to powerful cloud Azure with rising productivity and relayability.
</h5>
<br>
<p>Find us</p>
<p>Lviv, Sychiv, Budynok za Arsenom.</p>
