@{
    ViewData["Title"] = "Wiki";
}

    <div class="container">
        <div class="row">
            <div class="col-sm">
                Overview
            </div>
            <div class="col-10">
                <div class="text-center">
                    <h1 class="display-4">Wiki</h1>
                    <p>
                        Microsoft Azure (formerly Windows Azure /ˈæʒər/) is a cloud computing service created by Microsoft
                        for building, testing, deploying, and managing applications and services through Microsoft-managed
                        data centers. It provides software as a service (SaaS), platform as a service (PaaS) and infrastructure
                        as a service (IaaS) and supports many different programming languages, tools and frameworks, including
                        both Microsoft-specific and third-party software and systems.

                        Azure was announced in October 2008, started with codename "Project Red Dog",[1] and released on
                        February 1, 2010, as "Windows Azure" before being renamed "Microsoft Azure" on March 25, 2014.[2][3]
                    </p>

                </div>

            </div>
        </div>
    </div>

